@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    #CompletedProjects .GradientBox.Discord:after {
        background-image: url("../app/assets/images/bg-discord.png"); }
      #CompletedProjects .GradientBox.Github:after {
        background-image: url("../app/assets/images/bg-github.png"); }
      #CompletedProjects .GradientBox.Reddit:after {
        background-image: url("../app/assets/images/bg-reddit.png"); }
      #CompletedProjects .GradientBox.Twitter:after {
        background-image: url("../app/assets/images/bg-twitter.png"); }
       
      
        .box ul li {
            position: absolute;
            width: 35px;
            height: 35px;
            list-style: none;
            opacity: 0;
            background: radial-gradient(rgb(157, 0, 255), transparent, transparent);
            bottom: 0;
            left: 10vw;
            animation: animate 15s linear infinite;
        }
        .box ul li:nth-child(2) {
            left: 36vw;
            animation-delay: 5s;
        }
        .box ul li:nth-child(3) {
            left: 22vw;
            animation-delay: 8s;
        }
        .box ul li:nth-child(4) {
            left: 56vw;
            animation-delay: 10s;
        }
        .box ul li:nth-child(5) {
            left: 76vw;
            animation-delay: 5s;
        }
        .box ul li:nth-child(6) {
            left: 80vw;
            animation-delay: 8s;
        }
        @keyframes animate {
            0% {
                transform: scale(0);
                opacity: 1;
                bottom: 0;
            }
            100% {
                transform: scale(10);
                opacity: 0;
                bottom: 100vh;
            }
        }