@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    #CompletedProjects .GradientBox.Discord:after {
        background-image: url("../app/assets/images/bg-discord.png"); }
      #CompletedProjects .GradientBox.Github:after {
        background-image: url("../app/assets/images/bg-github.png"); }
      #CompletedProjects .GradientBox.Reddit:after {
        background-image: url("../app/assets/images/bg-reddit.png"); }
      #CompletedProjects .GradientBox.Twitter:after {
        background-image: url("../app/assets/images/bg-twitter.png"); }
  